@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Ephesis&family=Herr+Von+Muellerhoff&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lovers+Quarrel&display=swap');




body {
  font-family: 'Ephesis', 'Chonburi', 'Kanit', 'Herr Von Muellerhoff', 'Lovers Quarrel', sans-serif;
}

@layer utilities {
  .text-shadow-lg {
    text-shadow: 2px 2px 4px rgba(124, 203, 160, 0.885);
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

